//
// Variables
//

// Colors
$page_color: #fff;
$accent: blue;
$overlay_disable: #EBEBEB;

// Fonts
$helvetica: Helvetica, Arial, sans-serif; 
$arial: Arial, sans-serif;
$gill_sans: "GillSansMTRegular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

// Sizes
$font_size_small: 11px;
$font_size_normal: 13px;